CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_100=y

CONFIG_EXAMPLE_SELECT_CUSTOMIZED_DEV_BOARD=y
CONFIG_EXAMPLE_MIPI_CSI_SCCB_I2C_SCL_PIN=8
CONFIG_EXAMPLE_MIPI_CSI_SCCB_I2C_SDA_PIN=7
CONFIG_EXAMPLE_ENABLE_MIPI_CSI_CAM_SENSOR=y
CONFIG_EXAMPLE_ENABLE_DVP_CAM_SENSOR=n
CONFIG_EXAMPLE_ENABLE_USB_UVC_CAM_SENSOR=n

CONFIG_CAMERA_OV5647=y
CONFIG_CAMERA_OV5647_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y
CONFIG_CAMERA_OV5647_MIPI_RAW8_800X800_50FPS=n
CONFIG_CAMERA_OV5647_MIPI_RAW10_1280X960_BINNING_45FPS=y
CONFIG_CAMERA_OV5647_MIPI_DEFAULT_FMT_RAW8_800X800_50FPS=n
CONFIG_CAMERA_OV5647_MIPI_DEFAULT_FMT_RAW10_1280X960_BINNING_45FPS=y
CONFIG_CAMERA_OV5647_CSI_LINESYNC_ENABLE=y
CONFIG_CAMERA_SC2336=y
CONFIG_CAMERA_SC2336_AUTO_DETECT_MIPI_INTERFACE_SENSOR=y

CONFIG_ESP_VIDEO_ENABLE_MIPI_CSI_VIDEO_DEVICE=y
CONFIG_ESP_VIDEO_ENABLE_H264_VIDEO_DEVICE=n
CONFIG_ESP_VIDEO_ENABLE_HW_H264_VIDEO_DEVICE=n
CONFIG_ESP_VIDEO_ENABLE_JPEG_ENC_VIDEO_DEVICE=y
CONFIG_ESP_VIDEO_ENABLE_HW_JPEG_ENC_VIDEO_DEVICE=y
CONFIG_ESP_VIDEO_ENABLE_HW_JPEG_DEC_VIDEO_DEVICE=n
CONFIG_ESP_VIDEO_ENABLE_USB_UVC_VIDEO_DEVICE=n

CONFIG_EXAMPLE_M2M_MODE_ENCODE=y
CONFIG_P4SENDER_WIDTH=1280
CONFIG_P4SENDER_HEIGHT=960
CONFIG_P4SENDER_FPS=15
CONFIG_P4SENDER_JPEG_QUALITY=35
CONFIG_P4SENDER_SNAPSHOT_INTERVAL_MS=1700
CONFIG_P4SENDER_H264_BITRATE=240000
CONFIG_P4SENDER_H264_GOP=15
CONFIG_P4SENDER_H264_MIN_QP=25
CONFIG_P4SENDER_H264_MAX_QP=35
CONFIG_P4SENDER_UART_PORT=1
CONFIG_P4SENDER_UART_TX_GPIO=32
CONFIG_P4SENDER_UART_RX_GPIO=33
CONFIG_P4SENDER_UART_BAUD=1000000
CONFIG_P4SENDER_OLED_SDA_GPIO=28
CONFIG_P4SENDER_OLED_SCL_GPIO=29
CONFIG_P4SENDER_SPEAKER_GPIO=30
CONFIG_P4SENDER_DT06_STATE_GPIO=31

CONFIG_SPIRAM=y
CONFIG_ESPTOOLPY_FLASHSIZE_16MB=y
CONFIG_ESP_MAIN_TASK_STACK_SIZE=8192
CONFIG_VFS_MAX_COUNT=12

